<div id="<%= dom_id list %>">
  <% if list.avatar.attached? %>
    <%= image_tag list.avatar %>
  <% else %>
    <%= image_tag("ava", size: "20x20") %>
  <% end %>
  <p>
    <%= list.name %>
  </p>

</div>
