<div class="form-container">

  <div class="list-index-title">
    <h2>Choose a user to share list with</h2>
  </div>

  <%= form_with(model: @user_list, url: share_list_list_path) do |form| %>
    <div class="form-list-block">
        <input id='autocomplete' data-id="<%= params[:id] %>" type="text" placeholder="enter username" name="[user_list][user_email]"/>
        <div id='result'></div>
        <div class="custom-select">
          <%= form.select :level_of_access, ['read', 'write'] %>
          <span class="focus"></span>
        </div>
        <%= form.submit class: "submit-btn", value: "Share" %>
    </div>
  <% end %>
</div>