<div class="log-in-form"> 
  <h2>Log in as User</h2>

  <%= render "form" %>

  <%= link_to 'Login as Admin', new_admin_session_path %>

  <%= link_to 'Sign Up as User', new_user_registration_path %>

</div>
