<nav class="nav">
  <div class="nav-menu">
    <% if user_signed_in? %>
      <%= link_to 'Todo List', items_path %>
      <%= link_to 'New Item', new_item_path %>
      <%= link_to "Log out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Log in", user_session_path %>
    <% end %>
  </div>
</nav>