<div class="container">
  <div class="welcome-container">
    <h1>Welcome to TodoList</h1>
    <br>
    <br>
    <h3>The most productive app ever existed</h3>
    <br>
    <br>
    <br>
    <p> Please Log in <%= link_to 'Log in', new_user_session_path %> to start being productive</p>
  </div>
</div>
