<div class="welcome-container">
  <h1>Welcome to TodoList</h1>
  <h3>The most productive app ever existed</h3>
  <p> Please <%= link_to 'Log in', new_user_session_path %> to start being productive</p>
</div>
