<div class="form-container">

  <div class="list-index-title">
    <h2>Look for Todo</h2>
  </div>

  <form action="/lists/<%= params[:list_id] %>/items/search_show">
    <div class="list-edit-form">
      <input type="text" name="query" placeholder="Enter name of looking Todo" />
      <label for="status">Filter on Status:</label>
      <div class="custom-select">
        <select name="status" id="status">
          <option value="" selected>All</option>
          <option value="true">Completed</option>
          <option value="false">Incompleted</option>
        </select>
        <span class="focus"></span>
      </div>
      <label for="priority">Filter on Priority:</label>
      <div class="custom-select">
        <select name="priority" id="priority">
          <option value="" selected>All</option>
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
        <span class="focus"></span>
      </div>
      <button type="Submit" class="submit-btn">Search Todos</button>
    </div>
  </form>
</div>