/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 * {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.notice-msg {
  text-align: center;
  padding: 15px 0;
}

.container {
  background-color: rgba(25, 172, 209, 0.082);
}

/* navbar */

.nav {
  display: flex;
  height: 60px;
  background-color: rgb(25, 172, 209);
  justify-content: space-between;
}

.part-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.part-left > a {
  font-size: 20px;
  color: white;
  margin-inline: 8px;
  text-decoration: none;
}

.part-left > a:hover {
  color: lightgrey
}

.part-right {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px;
  max-width: 300px;
}

.part-right > p {
  font-size: 18px;
  padding-inline: 10px;
  color: white;
}

.part-right > a {
  text-decoration: none;
  font-size: 18px;
  padding-inline: 10px;
  color: white;
}

.part-right > a:hover {
  color: lightgrey
}

/* content */

.welcome-container {
  margin: 150px auto 0;
  padding: 50px;
  max-width: 500px;
}

/* Item section */

.item-new {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-new > h3 {
  margin: 0 auto;
}

.item-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
}

.item-input {
  margin: 5px;
}

.button {
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-submit {
  background: darkseagreen;
  color: white;
}

.btn-submit:hover {
  color: lightgrey;
}

/* Show Item section */

.btns-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-inline: 15px;
}

.btns-item > a {
  display: block;
  text-decoration: none;
  width: 100px;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: darkseagreen;
  color: white;
  text-align: center;
}

.btns-item > a:hover {
  color: lightgrey;
}

/* .btn-delete {
  background-color: white;
  font-size: 16px;
  border: none;
;}

.btn-delete:hover {
  cursor: pointer;
}

.btn-delete-icon-color {
  color: black;
  margin-inline: 5px;
} */

.btn-edit-icon-color {
  color: black;
  margin-inline: 5px;
}

/* Index Items section */

.items-index {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.items-index > h1, h4 {
  padding: 20px;
  margin: 0 auto;
}

.items-list {
  display: flex;
  flex-direction: column;
}

.item-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.complete-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.complete-item > a {
  text-decoration: line-through;
  font-size: 16px;
  cursor: pointer;
  margin-inline: 20px;
}

.incomplete-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.incomplete-item > a {
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-inline: 20px;
}

.item-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}

/* pagination */

.pagy {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* devise user section */

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.actions {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input {
  width: 100px;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.input-submit {
  background: darkseagreen;
  color: white;
  text-align: center;
}

.input-submit:hover {
  color: lightgrey;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.password-form > h2 {
  margin: 15px;
}

.btn-password {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.input-password {
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* List Show view */

.list-index-title {
  background-color: #3069e4b9;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.list-index-title > h2 {
  text-align: center;
  padding-bottom: 15px;
}

.index-title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.index-title-part-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.index-title-part-right {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-bottom: 8px;
}

.title-date > p {
  font-size: 65px;
  color: yellow;
}

.title-month > p {
  padding-left: 10px;
  font-size: 23px;
}

.index-title-part-right > p {
  font-size: 20px;
}

.list-index-content-row {
  border: 3px solid rgba(211, 211, 211, 0.411);
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 10px 5px 5px rgba(211, 211, 211, 0.411)
}

.list-index-content-left-line {
  background-color: rgba(147, 255, 47, 0.753);
  width: 10px;
  margin: 0 20px 0 0;
}

.list-index-item-conteiner {
  max-width: 750px;
  min-width: 150px;
  padding: 20px 0;
}

.list-index-item-conteiner > a {
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.list-index-item-conteiner > p {
  font-size: 18px;
  padding-top: 10px;
}

.list-index-content-right-block {
  display: flex;
  flex-direction: column;
  padding: 23px;
  justify-content: space-between;
}

.list-index-content-right-block-buttons {
  display: flex;
}

.list-index-content-right-block-buttons > a {
  text-decoration: none;
  font-size: 22px;
  padding-right: 10px;
  color: rgba(0, 128, 128, 0.507);
}

.btn-delete {
  background-color: white;
  font-size: 20px;
  border: none;
;}

.btn-delete:hover {
  cursor: pointer;
}

.btn-delete-icon-color {
  color: lightcoral;
}

.search-list-block {
  display: flex;
  justify-content: center;
}

.search-list-block > form > input[type="text"] {
  background-color : #c0d1f75b;
  border: 1px solid #819ddb33;
  border-radius: 15px;
  height: 25px;
  min-width: 250px;
  font-size: 16px;
  color: white;
}

.search-list-block > form > input[type="text"]::placeholder {
  color: white;
  font-size: 16px;
  text-align: center;
}

.search-btn {
  color: white;
  background-color: transparent;
  font-size: 18px;
  border: none;
  padding: 10px;
}

/* Form Elements */

.form-container {
  display: flex;
  flex-direction: column;
  margin: 30px auto 0;
  max-width: 500px;
  background-color: white;
  border-radius: 5px;
}

.form-list-block {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #819ddb33;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
}

.form-list-block > input[type="text"] {
  border: 1px solid #819edb9a;
  border-radius: 10px;
  height: 25px;
  min-width: 250px;
  font-size: 16px;
  color: black;
  padding-left: 10px;
}

.form-list-block > input[type="text"]:hover {
  border-color: black;
}

.form-list-block > input[type="text"]::placeholder {
  color: rgba(136, 136, 136, 0.719);
  font-size: 16px;
  padding: 10px 0;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Select your files';
  display: inline-block;
  background: white;
  border: 1px solid #819edb9a;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 14px;
  color: rgba(136, 136, 136, 0.719);
  margin: 15px 0;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.submit-btn {
  border: 1px solid #819edb9a;
  border-radius: 10px;
  height: 25px;
  color: rgba(136, 136, 136, 0.719);
  background-color: transparent;
  font-size: 16px;
  padding: 5px 10px;
}

.submit-btn:hover {
  cursor: pointer;
  border-color: black;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 16px;
  color: rgba(136, 136, 136, 0.719);
  cursor: inherit;
  line-height: inherit;
  outline: none;
  width: 100%;
}

select::-ms-expand {
  display: none;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid black;
  border-radius: inherit;
}

.custom-select {
  position: relative;
  height: 25px;
  min-width: 250px;
  border: 1px solid #819edb9a;
  border-radius: 10px;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  margin: 15px 0;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}

.custom-select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: rgba(136, 136, 136, 0.719);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select,
.custom-select:after {
  grid-area: select;
}

/* List Show view */

.list-container {
  display: flex;
  flex-direction: column;
  margin: 30px auto 0;
  max-width: 750px;
  min-width: 300px;
  background-color: white;
  border-radius: 5px;
}

.list-title {
  background-color: #4e46e5e0;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.list-title > h1 {
  margin: 30px auto 0;
}

.list-top-icons {
  display: flex;
  justify-content: space-between;
}

.list-icon-back > a {
  text-decoration: none;
  font-size: 20px;
}

.search-panel > a {
  text-decoration: none;
  font-size: 20px;
}

.search-panel-color {
  color: white;
}

.card-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.card-line > p {
  font-size: 18px;
}

.list-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.item-conteiner {
  max-width: 750px;
  min-width: 150px;
  padding: 20px 0;
}

.item-conteiner > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.list-content-row {
  border-bottom: 3px solid rgba(211, 211, 211, 0.411);
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-content-part-left {
  display: flex;
  justify-content: flex-start;
}

.list-content-part-right {
  display: flex;
  justify-content: flex-end;
}

.part-priority-normal {
  background-color: rgba(147, 255, 47, 0.753);
  width: 10px;
  margin: 5px 10px 5px 0;
}

.part-priority-high {
  background-color: lightcoral;
  width: 10px;
  margin: 5px 10px 5px 0;
}

.part-priority-low {
  background-color: rgba(255, 206, 47, 0.61);
  width: 10px;
  margin: 5px 10px 5px 0;
}

.part-completed {
  width: 40px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part-completed > a {
  text-decoration: none;
  font-size: 50px;
}

.item-icon-incompleted {
  color: lightgrey;
  width: 35px;
  height: 35px;
  border: 3px solid rgba(211, 211, 211, 0.658);
  border-radius: 20px;
}

.item-icon-completed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-icon-completed-color {
  color: rgba(0, 128, 128, 0.507);
}

.list-item-button-add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.list-item-button-add > a {
  text-decoration: none;
  font-size: 50px;
}

.list-item-button-add-color {
  color: rgba(0, 128, 128, 0.507);
}

/* Another Section */

.item-completed > a {
  text-decoration: line-through;
}

.item-incompleted > a {
  text-decoration: none;
}

.list-completed > a {
  text-decoration: line-through;
}

.list-incompleted > a {
  text-decoration: none;
}

.list-edit-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
}

.list-input {
  margin-bottom: 5px;
}

.list-select {
  margin-bottom: 5px;
}

.list-search-button {
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: darkseagreen;
  border-radius: 3px;
  padding: 3px 10px;
}

.list-search-icon {
  color: white;
}

/* User section */

.users-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.users-button > a {
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-inline: 20px;
  width: 75px;
  text-align: center;
  color: white;
  background-color: darkseagreen;
  border-radius: 3px;
}

.user-button-delete {
  font-size: 16px;
  cursor: pointer;
  margin-inline: 20px;
  width: 75px;
  text-align: center;
  color: white;
  background-color: lightcoral;
  border: none;
  border-radius: 3px;
}

.users-pagy {
  margin-top: 25px;
}

.user-edit-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 200px;
}

.user-edit-form {
  margin-top: 20px;
}

.user-edit-submit-input {
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
  text-align: center;
  color: white;
  background-color: darkseagreen;
  border: none;
  border-radius: 3px;
}

/* Admin section */

.admin-panel {
  max-width: 350px;
  margin: 0 auto;
}

.admin-panel > h3 {
  padding: 20px;
  margin: 0 auto;
}

.admin-panel > a {
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-inline: 5px;
  width: 75px;
  text-align: center;
  color: white;
  background-color: darkseagreen;
  border-radius: 3px;
  padding: 3px 40px;
}
