<div class="container">
  <div class="list-content">
    <h3>Search List</h3>
    <form action="/admins/search/show-list">
      <div class="list-edit-form">
        <input type="text" name="query" class="list-input" />
        <button type="Submit" class="button btn-submit">Search</button>
      </div>
    </form>
  </div>
</div>